@CHARSET "windows-1255";

p {
	color: #ffff00;
	font: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 90%;
}

h4 {
	color: #fff;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 105%;
}

a:visited {
    color: #80ffff;
}

a:hover {
    color: #ff8000;
}

#successDiv {
	background: rgba(0, 0, 0, 0.75);
	padding: 50px 40px;
	width: 30%;
	hight: 40%;
	text-align: center;
	font-size: 130%;
}

#errorDiv {
	background: rgba(0, 0, 0, 0.75);
	padding: 50px 40px;
	width: 30%;
	hight: 40%;
	text-align: left;
	font-size: 130%;
}

#aboutUs, #contactUs {
	background: rgba(0, 0, 0, 0.75);
	padding: 50px 40px;
	width: 65%;
	hight: 40%;
	text-align: center;
	color: #fff;
	text-align: justify;
	font: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 120%;
	line-height: 120%;
}

#bodyLogin {
	background: url("pics/mbankComputers.jpg") no-repeat center center fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
}

.formDiv {
	background: rgba(0, 0, 0, 0.75);
	padding: 50px 40px;
	width: 30%;
	hight: 40%;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#login {
	background: rgba(0, 0, 0, 0.75);
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	padding: 50px 40px;
	width: 30%;
	hight: 40%;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

#welcom {
	width: 30 display:block;
	position: absolute;
	top: 10px;
	right: 100px;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#wrap {
	background: #808080 url("pics/mbankMobile.jpg") no-repeat center center
		fixed;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
}

#mainMenu {
	position: absolute;
	top: 100px;
	right: 100px;
	padding: 22px 47px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Tahoma, sans-serif;
	font-size: 18px;
}

#mainMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#mainMenu li a {
	padding: 3px 0;
	padding-left: 9px;
	width: 169px;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #90bade;
	border-left: 7px solid #1958b7;
}

#mainMenu li a:hover {
	background-color: #ff8000;
	border-left-color: #1c64d1;
}

Table {
	top: 100px;
	left: 100px;
	padding: 22px 30px;
	width: 40%;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Tahoma, sans-serif;
	font-size: 16px;
	text-align: center;
}

th {
	background-color: #1958b7;
	color: white;
	height: 40px;
}

td, tr {
	border: 1px solid #90bade;
	color: #ffffff;
}

.form-style-1 {
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.form-style-1 input[type=text], .form-style-1 input[type=date],
	.form-style-1 input[type=datetime], .form-style-1 input[type=number],
	.form-style-1 input[type=search], .form-style-1 input[type=time],
	.form-style-1 input[type=url], .form-style-1 input[type=email],
	textarea, select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

.form-style-1 input[type=text]:focus, .form-style-1 input[type=date]:focus,
	.form-style-1 input[type=datetime]:focus, .form-style-1 input[type=number]:focus,
	.form-style-1 input[type=search]:focus, .form-style-1 input[type=time]:focus,
	.form-style-1 input[type=url]:focus, .form-style-1 input[type=email]:focus,
	.form-style-1 textarea:focus, .form-style-1 select:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
	width: 49%;
}

.form-style-1 .field-long {
	width: 100%;
}

.form-style-1 .field-select {
	width: 100%;
}

.form-style-1 .field-textarea {
	height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover
	{
	background: #4691A4;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-style-1 .required {
	color: red;
}
</
style
>